@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --sidebar-width: 320px; 

    /* ==== Transition ==== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

*{
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
 }

/*  consente di personalizzare l'aspetto delle barre di scorrimento (scrollbar) di un elemento. */
*::-webkit-scrollbar{
 height: 0.5rem;
 width: 1rem;

}
/*  utilizzato per stilizzare la "traccia" della scrollbar nei browser  */
*::-webkit-scrollbar-track{
   background-color: transparent;
    }

*::-webkit-scrollbar-track{
    background-color: #fad637;
    }

html {
    overflow-x: hidden;
}


/* ===Home e altri=== */

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* altezza completa della finestra */
}

.header{
    position: relative;
    padding-left: 1.5rem;
    padding-top: 0.7rem;
    background-color: #93ff9f;
    top: 0;
    padding-bottom: 20px; 
    left: var(--sidebar-width);
    right: 0;
    z-index: 1000;
}

.header .generico{
    color: #000000;
}

body{
   background:  #fff8ef; 
   height: 100vh;
}

.header .copertina{
  height: 100%;
  left: var(--sidebar-width);
}


/* === SideBar ===*/

.sidebar .text{
    font-weight: 500;
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--sidebar-width);
  padding: 10px 14px;
  background-color: #93ff9f;
  border-right: 2px solid #2a592f; 
  box-shadow:  0 53px 15px #fad637;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icona{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90px;
    font-size: 20px;
}

.sidebar li .icona,
.sidebar li .text{
    color: #000000;
    transition: var(--tran-02); /* adatta la transizione alla box */
}

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
    
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.sidebar header .image-text img {
   width: 90px;
   border-radius: 6px;
   
}

header .image-text .nome {
    margin-left: 5px;
    font-size: 30px;
}

header .image-text  .tipo {
    margin-left: 5px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -14px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: #00d1b2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fffffff1;
    font-size: 22px;
}


.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
  background-color: #4d8153;
}

.sidebar li a:hover .icona,
.sidebar li a:hover .text{
    color: #ffffff;
}



.riquadri {
    position: absolute;
    left: 20rem;
    top: 3rem;
    bottom: 0;
    padding: 1rem;
    background-color: transparent;
  }
  

  .letti-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px; /* Spaziatura interna del contenitore */
}

.letto-box {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Effetto ombra */
}

.Cambia-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.iscriviti-btn:hover {
    background-color: #0056b3;
}


.notifica-box {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Effetto ombra */
}

.notifica-titolo {
    font-size: 18px;
    margin-bottom: 5px;
}

.notifica-descrizione {
    font-size: 14px;
    color: #444;
}

/* ===Prenotazioni=== */

.Prenotazioni-body {
    
    overflow: hidden; /* Impedisce lo scorrimento del contenuto fuori dallo schermo */
    height: 100vh; /* Assicura che il body prenda l'intera altezza della finestra */
}

.headerPrenotazioni {

   position: sticky;
   padding-left: 1.5rem;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1000;
   
}


.container-Prenotazioni { 
    position: relative;
    top: 100px;
}

.headerPrenotazioni #ToggleBox {
    position: absolute;
    top: 10px; 
    right: 10px; 
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    letter-spacing: 1px;
    margin-right: 8rem;
    background-color: #2be4f1;

}


.headerPrenotazioni #buttonPrenotazioni {
    position: absolute;
    top: 10px; 
    left: 10px; 
    padding: 0.5rem 1rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    letter-spacing: 1px;
    margin-right: 8rem;
    background-color: #2be4f1;
}

#ToggleBox:hover {
    background: #0082fcfa;
}

#popupBox {
    position: absolute;
    top: 68px;
    right: 4.5rem;
    width: 15rem;
    padding: 5px;
    border: 1px solid #d6a534;
    border-radius: 5px;
    background-color: #fad637;
    box-shadow: 0 10px 15px #2be4f1;
    z-index: 9999; /* Ensure it is on top of other elements */
}

#popupBox #prenotazioniForm {
    padding: 7px;
}

#popupBox #prenotazioniForm input {
    display: block;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid #000000;
    width: 80%;
    background-color: #2be4f1;
}

#popupBox #prenotazioniForm button {
    float: right;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 15%;
    background-color: #2be4f1;
}

.invisible {
    display: none;
}

#errorPrenotazioni {
    
        display: block;
        width: 95%;
        padding: 10px;
        margin: 10px auto;
        background: #f3afaf;
        opacity: .60;
    
}

#successPrenotazioni {
        display: block;
        width: 95%;
        padding: 10px;
        margin: 10px auto;
        background: #baffba;
        opacity: .60;
        border-radius: 20px;
    }


    .prenotazione-box {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #ffffff; 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Effetto ombra */
    }
    
    .Prenotazione-titolo {
        font-size: 18px;
        margin-bottom: 5px;
    }
